body {
    margin: 0 auto;
    padding: 0;
    font-family: arial, Microsoft JhengHei;
}

.container {
    padding: 30px;
    margin: 0 auto;
}


/*header*/

header {
    top: 0;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: 785px;
    background: #D7D7D4 url(../images/bg_01.jpg) top center no-repeat;
    background-size:cover;
    position: relative;
    top: 0;
}

.headword {
    padding: 60px;
    text-align: center;
    color: white;
}

.hey {
    font-weight: bold;
    font-size: 5em;
    line-height: 50px;
}

h1 {
    margin: 0;
    padding: 15px;
}

#tpword {
    font-size: 1.5em;
}


/*topnav bar style setting*/

.topnav {
    text-align: center;
    position: relative;
    font-family: arial;
    font-style: italic;
}

.topnav ul {
    margin: 0;
    padding: 50px;
}

.topnav li {
    margin: 0 5px 10px 0;
    padding: 15px;
    list-style: none;
    display: inline-block;
}

.topnav a {
    padding: 3px;
    text-decoration: none;
    color: #CED7DE;
    line-height: 100%;
}

.topnav a:hover {
    color: #53D3EA;
}


/*About*/

#about {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: 602px;
    background: url(../images/bg_02.jpg) top center no-repeat;
    position: relative;
    top: 0;
}

.bigword {
    font-weight: bold;
    font-size: 3em;
    color: #17297C;
    text-align: center;
    padding: 50px 0 40px 0;
}

.aboutword {
    color: #17297C;
    font-size: 18px;
    text-align: left;
    padding: 20px;
    line-height: 30px;
}


/*homework*/

#homework {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    background: white url(../images/bg_03.jpg) top center no-repeat;
    position: relative;
    top: 0;
}

#hk {
    padding: 30px;
    margin: 0 auto;
    text-align: center;
}

#hk img {
    width: 80%;
    border: solid #727ED7 10px;
}

#hk a {
    color: #192268;
    font-weight: bold;
    text-decoration: none;
    padding: 10px;
}

#hk a:hover img {
    border: solid #D71A70 10px;
}

#hk a:hover {
    color: #D71A70;
    font-weight: bold;
    text-decoration: none;
}


/*Link*/

#link {
    clear: both;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: 450px;
    background-color: #eeeeee;
    position: relative;
    top: 0;
}

#linkbt {
    margin: 0 auto;
    padding: 30px;
    text-align: center;
}

#linkbt a {
    color: #17297C;
    text-decoration: none;
}

#linkbt a:hover {
    color: #D71A70;
    text-decoration: underline;
}


/*Contect*/

#contect {
    clear: both;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: 622px;
    background: url(../images/bg_06.jpg) top center no-repeat;
    position: relative;
    bottom: 0;
    text-align: center;
}

.contectme {
    font-weight: bold;
    font-size: 3em;
    color: #17297C;
    text-align: center;
    padding: 20px 0 40px 0;
}

.mailme a {
    color: #17297C;
    text-decoration: none;
}

.mailme a:hover {
    color: #D71A70;
    text-decoration: underline;
}


/*當顯示器小於600px時，將navbar變成下拉式選單*/

@media screen and (max-width: 770px) {
    /*header*/
    header {
        top: 0;
        margin: 0 auto;
        padding: 0;
        width: 100%;
        height: 600px;
        background: url(../images/bg_01.jpg) top left no-repeat;
        position: relative;
        top: 0;
    }
    .topnav {
        position: relative;
        min-height: 100px;
        z-index: 1;
    }
    .topnav ul {
        width: 100%;
        padding: 0;
        position: fixed;
        top: 0;
        left: 0;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0, 3);
        text-align: center;
    }
    .topnav li {
        display: none;
        margin: 0;
    }
    .topnav .current {
        display: block;
    }
    .topnav a {
        display: block;
        background-color: #D7E1E8;
        padding: 5px 5px 5px 20px;
        color: #1D2E62;
    }
    .topnav ul:hover li {
        display: block;
        margin: 3px;
        background: hsla(240, 0%, 50%, 0.4);
    }
    .topnav .current a {
        background-color: #EA5B59;
    }
    /*about*/
    #about {
        margin: 0 auto;
        padding: 0;
        width: 100%;
        height: 800px;
        background: #eeeeee;
        position: relative;
        top: 0;
    }
    /*homework*/
    #homework {
        margin: 0 auto;
        padding: 0;
        width: 100%;
        background: white;
        position: relative;
        top: 0;
    }
    /*link*/
    #link {
        height: 850px;
    }
}
