body {
    width: 100%;
    margin: 0 auto;
    font-family: arial;
    min-width: 400px;
}

.container {
    width: 100%;
    margin: 0 auto;
}


/*navbar*/

.nav {
    background-color: #273242;
    width: 100%;
    height: 90px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.nav ul {
    padding: 20px 40px;
}

.nav li {
    display: inline;
    padding: 15px;
    list-style: none;
}

.nav a {
    color: white;
    font-weight: bold;
    font-family: arial;
    text-decoration: none;
}

.nav a:hover {
    color: #23C4A3;
}

#logo {
    font-size: 28px;
    text-align: left;
    float: left;
}

#logo a:hover {
    -o-transition: color .20s linear;
    -webkit-transition: color .20s linear;
    -moz-transition: color .20s linear;
    transition: color .20s linear;
}

#navbt {
    font-size: 15px;
    text-align: right;
    float: right;
}


/*header*/

header {
    top: 60px;
    padding: 5%;
    background-color: #27D8AF;
    position: relative;
    left: 0;
    text-align: center;
    color: white;
}

#bigword {
    font-size: 60px;
    font-weight: bold;
    line-height: 0.5vw;
}


/*Portfilio*/

#portfolio {
    position: relative;
    top: 10px;
    padding: 60px;
    text-align: center;
}

.midword {
    text-align: center;
    font-weight: bold;
    font-size: 45px;
}

#portfolio img {
    width: 95%;
    padding: 10px;
}


/*ABOUT*/

#about {
    position: relative;
    top: 80px;
    background-color: #27D8AF;
    text-align: center;
    clear: both;
    padding: 50px 80px;
}

.aboutword {
    color: white;
    font-size: 19px;
    text-align: left;
    padding: 10px;
    line-height: 30px;
}

#bt01 {
    font-size: 18px;
    padding: 15px;
    background-color: #27D8AF;
    color: #273242;
    border-radius: 10px;
    border-style: solid;
    border-color: white;
    text-align: center;
    text-decoration: none;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

#bt01:hover {
    background-color: white;
}

.downloadbt {
    clear: both;
    text-align: center;
    margin: 0 auto;
}


/*Contactme*/

#contactme {
    text-align: center;
    position: relative;
    clear: both;
    top: 80px;
    padding: 50px 80px;
}

input {
    width: 100%;
    height: 60px;
    font-size: 20px;
    border-style: none;
}

textarea {
    width: 100%;
    font-size: 20px;
    border-style: none;
}

#btsend {
    font-size: 18px;
    padding: 20px;
    background-color: #27D8AF;
    color: white;
    border-radius: 10px;
    border-style: none;
    text-align: center;
    text-decoration: none;
    float: left;
}

#btsend:hover {
    background-color: #20B695;
}

.afterfildin {
    clear: both;
    height: 70px;
}


/*footer*/

footer {
    background-color: #273242;
    clear: both;
    position: relative;
    top: 50px;
}

.upfoot {
    background-color: #273242;
    text-align: center;
    color: white;
    position: relative;
    padding: 50px 80px 250px 50px;
}

.foottitle {
    font-size: 25px;
    font-weight: bold;
    color: white;
    text-align: center;
}

#startbootstrap {
    color: #27D8AF;
    text-decoration: none;
}

#startbootstrap:hover {
    text-decoration: underline;
}

.circlebt {
    width: 50px;
    height: 50px;
    line-height: 43px;
    border: 2px solid white;
    background-color: #273242;
    border-radius: 50px;
    color: white;
    font-size: 18px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.circlebt:hover {
    background-color: white;
    color: #27D8AF;
}

.downfoot {
    background-color: #122030;
    padding: 10px 30px;
    text-align: center;
    color: white;
    position: relative;
    bottom: 0;
    clear: both;
}


/*star*/

.fa-star {
    font-size: 30px;
}
